.header {
    height: 50px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    vertical-align: middle;
    border: 2px black solid;
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.site-name {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 900;
}

.site-tab {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 5em;
    display: flex;
}

.tab-name {
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: black;
    margin-left: 1em;
}

.tab-name:hover {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.react-icon {
    margin-top: auto;
    margin-right: 1em;
    margin-bottom: auto;
}

.react-icon:hover {
    cursor: pointer;
}
